<!-- <h1>Log Adventure Home</h1>


<div class="container-newLogDiv">
  <form class="form-container">

     <div class="row">
      <label class="col" for="logId">Log #</label>
      <input class="col" type="number" name="logId" [(ngModel)]="newLog.id" />
    </div>

      <label class="form-label" for="category">Category</label>
      <input
        class="form-input"
        type="text"
        name="category"
        [(ngModel)]="newLog.category"
      />

      <label class="form-label" for="details">Details</label>
      <input
        class="form-input"
        type="text"
        name="details"
        [(ngModel)]="newLog.details"
      />

      <label class="form-label" for="duration">Duration</label>
      <input
        class="form-input"
        type="number"
        name="duration"
        [(ngModel)]="newLog.duration"
      />

      <label class="form-label" for="activity">Activity</label>
      <textarea
        class="form-input"
        name="actvity"
        rows="3"
        cols="40"
        [(ngModel)]="newLog.activity"
      ></textarea>


    <button class="btn btn-success" (click)="addLog(newLog)">
      Add New Log
    </button>
  </form>
</div>

<h2>
  <ul>
    <li *ngFor="let log of logList" >
      {{ newLog }}
    </li>
  </ul>
</h2> -->

<!-- <div id="logListDiv" *ngIf="!selected">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Category</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let log of logList">
        <td>{{ log.id }}</td>
        <td>{{ log.category }}</td>
        <td>
          <span class="btn btn-danger" (click)="deleteLog(log.id)"
            >Delete Log</span
          >
        </td>

        <td>
          <span class="btn btn-outline-info" (click)="displayLog(log)"
            >Log Details</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <div id="logDetailDiv" *ngIf="selected && !editLog" class="container">

    <h4>ID: {{ selected.id }}</h4>
    <p> {{selected.category}}</p>
    <h5>Details</h5>
    <p> {{selected.details}}</p>

    <button class="btn btn-outline-info" (click)="displayTable()">Back</button>

    <button class="btn btn-outline-primary" (click)="setEditLog()">Edit</button>
  </div>

  <div id="logEdit" *ngIf="editLog" class="container">
    <form>
      <div class="row">
        <label class="col-auto form-label" for="log">Log</label>
        <input
          class="col form-control"
          type="text"
          name="editLog"
          [(ngModel)]="editLog.category"
        />
        <br />
      </div>
      <div class="row">
        <label class="col-auto form-label" for="details">Details</label>
        <input
          class="col form-control"
          type="text"
          name="details"
          [(ngModel)]="editLog.details"
        />
      </div>

      <div class="row">
        <button class="btn btn-info col-auto" (click)="editLog = null">
          Cancel
        </button>

        <button class="btn btn-primary col-auto" (click)="updateLog(editLog)">
          Save
        </button>
      </div>
    </form>
  </div> -->
