<app-navigation></app-navigation>

<main class="container-fluid">
  <router-outlet></router-outlet>
</main>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="slide-container">
  <img class="slide-picture" class="slideDirection" src="https://assets.sailboat.guide/3e1llnbl2fgzyntfyb8r7wevyx20" alt="Slide Picture">
</div>
<button (click)="addSlideClass()">Slide Right</button>


<footer>
  <a href="indexStatic.html">View Static HTML/JS version</a>
</footer>

</body>
</html>


